name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed
    branches: [main]
  workflow_dispatch: # 수동 실행 버튼

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'workflow_run' && 
      github.event.workflow_run.conclusion == 'success' ||
      github.event_name == 'workflow_dispatch'

    steps:
    - uses: actions/checkout@v4

    - name: Get Python Version
      id: get_version
      run: |
        python_version=$(python scripts/get_python_version.py | jq -r .full)
        echo "version=${python_version}" >> $GITHUB_OUTPUT

    # Docker 로그인
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # Buildx 설정
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    # 이미지 빌드 및 푸시
    - name: Build and push image
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}/milkyway_bot:${{ github.sha }}
          ${{ secrets.DOCKERHUB_USERNAME }}/milkyway_bot:latest
        build-args: |
          PYTHON_VERSION=${{ steps.get_version.outputs.version }}
        
    # 개인 서버에 배포
    - name: Deploy to Ubuntu Server
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: deploy
        key: ${{ secrets.SERVER_SSH_KEY }}
        port: 22
        script: |
            cd /app/milkywayBot

            cp .env .env.bak
            
            git fetch origin
            git reset --hard origin/main

            mv .env.bak .env
            
            docker compose pull
            docker compose down
            docker compose up -d --force-recreate
            
            sleep 10
            docker image prune -f